div.pixel {
    box-sizing: border-box;

    border: solid 2px black;

    margin: 0;
}
div.pixel.colored {
    background-color: #999;
}
div.pixel.colored2 {
    background-color: #555;
} 
div.pixel.colored3 {
    background-color: #111;
}

section#canvas {
    display: grid;

    width: fit-content;
}